/* common css start */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Rubik', sans-serif;
    
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
}
/* common css end */
header {
    background: #ddd;
}
header .nav-link{
    font-weight: 600;
    text-transform: uppercase;
    text-align: right;
    padding: 0px 0px;
    margin-left: 20px;
    border-radius: 5px;
    position: relative;
}
header .nav-link::after{
    position: absolute;
    content: '';
    background: red;
    height: 3px;
    width: 0%;
    right: 50%;
    bottom: -7px;
    transition: .5s all linear;
}
header .nav-link::before{
    position: absolute;
    content: '';
    background: red;
    height: 3px;
    width: 0%;
    left: 50%;
    bottom: -7px;
    transition: .5s all linear;
}
header .nav-link:hover::before,header .nav-link:hover::after{
    width: 50%;
}

*/
/* portfolio-section-start */
#portfolio {
    padding: 10px 0px;
    background: gray;
  }
.portfolio-title h3{
    color: #0075B7;
    margin: 5px 0px;
    font-size: 20px;
    font-weight: 400;
    position: relative;
   
}
.portfolio-title h3::after {
    position: absolute;
    content: "";
    height: 3px;
    width: 20%;
    background: green;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);
  }
  /* slider-section start */
  .slider-section {
    background: gray;
    margin: 40px 0px;
  }
  .carousel-item{
    padding: 5% 24%;
    text-align: center;
  }
  .carousel-indicators [data-bs-target]{
    height: 20px;
    width: 20px;
    border-radius: 50%;
   opacity: 1;
   border-top: 0px solid transparent;
  border-bottom: 0px solid 
  }
  .carousel-indicators .active{
    background: #0075B7;
  }
  /* slider-section end */
/* portfolio-section-end */


/* main-section-start */

/* even-section  start*/
/* product-section start */
.product-banner{
    margin: 30px 0px;
}
.product-title h4{
    color: #0075B7;
    margin: 5px 0px;
    font-size: 20px;
    font-weight: 400;
    position: relative;
   
}
.product-title h4::after {
    position: absolute;
    content: "";
    height: 3px;
    width: 8%;
    background: green;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);
  }
  .product-img {
    overflow: hidden;
  }
  .product-img img {
    transform: scale(1);
    transition:  all linear.3s;
  }
  .product-img:hover img {
    transform: scale(1.3);
}

/* product-section end */

/* even-oder-section-start */
.even-oder-section {
    background: #353849;
    width: 100%;
    border: 5px solid #353849;
    padding: 2px 0px;
    display: block;
    overflow: hidden;
  }
  /* even-crousel start */
  .even-crousel {
    margin: 50px 0px;
  }
  /* even-crousel end */
.even-oder-section .oder-title h4{
    font-size: 30px;
    color: #ddd;
    font-family: Rubik;
    font-weight: 500;
     line-height: 2;
}
/* new-arrivals-start */
.arrivals-title h4 {
    position: relative;
  }
  .arrivals-title h4::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100px;
    background: #00a0ff;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
 }
.product-thumb {
  overflow: hidden;
}
.product-thumb img {
  transform: scale(1);
  transition: all linear.3s;
}
.product-thumb:hover img {
  transform: scale(1.3);
}

 .oder-title {
  margin: 120px 0px;
  padding: 9px;
}
/* new-arrivals-end */
.btn.btn-outline-secondary.text-uppercase{
    background: transparent;
    color: #fff;
    padding: 10px 40px;
}
.btn.btn-outline-secondary.text-uppercase:hover{
    background: #D57112;
    color: #ddd;
}
.btn.btn-outline-success.text-uppercase{
    background: #D57112;
    color: #ddd;
    padding: 10px 10px;
    margin: 0px 2px;
}
.btn.btn-outline-success.text-uppercase:hover{
    background: #ddd;
    color: #0075B7;
   
}
.text-light {
  padding: 10px;
}
/* even-oder-section-end */
/* even-section  end*/
/* main-section-end */
/* portfolio-section end */
.popular-title h4 {
  position: relative;
}
.popular-title h4::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100px;
  background: #00a0ff;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
}