/* common css start */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* common css end */
.navbar-nav .nav-link.active{
   color: rgb(10, 10, 81);
}
.navbar-expand-lg .navbar-nav .nav-link{
    display: block;
    padding: 0px 40px;
}
/* portfolio-section start */
#slider{
    background: #ddd;
}
.slider-title h4{
    color:#712EF6;
}
.hr-style{
    border: 5px dashed #0075B7;
    border-bottom: none;
}

.carousel-item{
    padding: 5% 15%;
    text-align: center;
}
/* portfolio-section end */